<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') -%>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('../partials/beginContainer') -%>
        <h1 class="h3 mb-3 font-weight-normal">Login Autisti</h1>

        <form method="POST" action="/accessoAutista">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>">
            <div class="input-group mb-3">
                <span class="input-group-text"> <i class="bi bi-envelope-fill icona"></i> </span>
                <input name="email" class="form-control" placeholder="Email" type="email" maxlength="128" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> <i class="bi bi-lock-fill icona"></i> </span>
                <input name="password" class="form-control" placeholder="Password" type="password" required>
            </div>
            <% if(errorMsg) { %>
                <div class="alert alert-danger" role="alert">
                    <%=errorMsg.message%>
                </div>
            <% } %>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Login</button>              
            </div>           
        </form>
        <hr>
        <a href="/login" class="btn" role="button">Indietro</a>
        <%- include('../partials/endContainer') -%>
    </body>
</html>