<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') -%>
        <title>Notifica Ritardo</title>
    </head>
    <body>
        <%- include('../partials/header') -%>
        <%- include('../partials/beginContainer') -%>
            <div class="alert alert-danger alert-link" role="alert">
                La prenotazione che va dal <%= prenotazione.orarioPartenza.toLocaleString() %> al <%= prenotazione.orarioArrivo.toLocaleString() %> 
                è in ritardo di <% if(prenotazione.ore > 0) { %> <%= prenotazione.ore %> ore e <% } %> <%= prenotazione.minuti %> minuti!
            </div>
            <div class="text-start fs-5">
                Partenza: <%= prenotazione.indirizzoPartenza %>, <%= prenotazione.orarioPartenza.toLocaleString() %> <br>
                Arrivo: <%= prenotazione.indirizzoArrivo %>, <%= prenotazione.orarioArrivo.toLocaleString() %> <br>
                Veicolo: <%= prenotazione.tipoVeicolo %> <br>
                <% if(prenotazione.idAutista != null) { %> Autista: <%= prenotazione.nomeAutista %> <%= prenotazione.cognomeAutista %> <% } %> 
            </div>
            <hr>
            <div class="text-start fs-6">
                <form method="POST" action="/notificaRitardo">
                    <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                    <input type="hidden" name="idPrenotazione" value="<%= prenotazione.idPrenotazione %>">
                    <label for="motivoRitardo" class="form-label">Seleziona il motivo del ritardo</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="bi bi-question-lg"></i></span>
                        <select class="form-select" name="motivoRitardo" id="motivoRitardo" aria-label="Default select example">
                            <option value="guasto">Guasto</option>
                            <option value="traffico">Traffico</option>
                        </select>
                    </div>
                    <label for="stimaConsegna" class="form-label">Inserisci una stima dell'orario di consegna</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="bi bi-clock-history"></i></span>
                        <input type="time" class="form-control" name="stimaConsegna" id="stimaConsegna">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Segnala ritardo</button>
                      </div>
                </form>
            </div>
            
        <%- include('../partials/endContainer') -%>
    </body>
</html>